{% extends 'base.html' %}
{% block content%}
<div class="container" id="display1">
  <br>
  <br>
  <br>

  <h3>Search by Name</h3>
  <br>
  <form class="col s12" role="search" action="{% url 'name' %}">
    <div class="row">
      <div class="input-field col s12">
        <input name="tutor" id="icon_prefix" type="text" class="validate black-text">
        <label for="icon_prefix">Tutor Name</label>
      </div>
    </div>
  </form>
</div>
<br><br>
<div class="container">
  <div class="row">
    {% if tutors %}
    <h6>Found {{ tutors|length }} {{message}}</h6>
    {% else %}
    <h6> Found 0 tutors with such name.</h6>
    <p> {{message}}</p>
    {% endif %}

  </div>

  <div class="row">

    {% if tutors %}
    {% for tutor in tutors %}
    <div class="col-sm-6 col-md-6">
      <div class="col s12 m4 l4">
        <a href="/tutor/{{tutor.id}}">
          <div class="card mini-projects">
            <div class="container-fluid">
              <div class="card-content">
                <div class="container">
                  <span class="card-title center-align">
                    <h6>{{tutor.tutor_name}}</h6>
                  </span>
                </div>
              </div>
              <div class="card-image">
                <img class="img" src="{{tutor.tutor_image.url}}" alt="">
              </div>
              <div class="card-content spacer">
                <br>
                <br>
                <br>
              </div>
              <div class="card-content">
                {{tutor.tutor_email}}

                <br>

                <br>

                tutor Location: {{tutor.tutor_location}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<br>
<br>
<br>
<br>
{% endblock %}